* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*<= para poner los divs  una caja y que no se deforme para afuera */
}

body {
  background: url(./cinema-5069314.jpg);
  background-size: cover;
  background-repeat: round;
  margin: 0;
  height: 100vh;
}

img.logo {
  width: 200px;
  height: 200px;
}
nav {
  margin: -40px auto;
}

div.main {
  background-color: rgba(11, 11, 12, 0.702);
  /* padding: 50px ; */
  border-radius: 25px;
  width: 60%;
}
img.profile-user {
  width: 140px;
  height: 140px;
}

label .choose-a-user {
  size: 40px;
}

.name-user {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

section.arriba {
  padding: 0px;

  margin: 0px;
}

h3,
h4 {
  color: white;
  text-align: center;
}

input.name-user-update {
  color: white;
  padding: 5px 5px;
  width: 100%;
}

button {
  background: rgba(255, 255, 255, 0.901);
  cursor: pointer;
  font-size: 20;
  border-radius: 10px;
  margin: 10px;
  padding: 8px 12px 8px 12px;
}

main {
  max-width: 1200px;
  /*NUNCA MAS GRANDE QUE ESTE TAMAÑO */
  margin: 0 auto;
  padding: 20px 70px;
  /*MARGEN INTERNA  */
  /* text-align: justify; */
  transition: all 300ms;
}

.name-user {
  font-size: 20px;
  padding-top: 1px;
  padding-bottom: 3px;
}

.users-form {
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  word-wrap: break-word;
  background-color: rgba(11, 11, 12, 0.702);
  padding: 10px 40px;
  border-radius: 25px;
  color: white;
}

div.datos {
  padding-left: 280px;
  padding-top: 40px;
  font-size: 16px;
}

.delete {
  width: 80%;

  background: none;
  border: none;
  color: white;
}

div.caja {
  display: flex;
}

.edit {
  width: 80%;

  background: none;
  border: none;
  color: white;
}

form {
  color: white;
  font-size: 20;
}

@media (max-width: 768px) {
  div.users {
    margin: 5%;
    padding: 5%;
  }
}

div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

.flex-container {
  display: flex;
  height: auto;
}

.flex-container > div {
  width: auto;
  padding: 15px;
  text-align: left;
  font-size: 14px;
}

.descripcion-movie {
  font-size: 14;
}

#titulo-movie {
  font-size: 26px;
  text-align: left;
}

#home-boton {
  text-align: center;
}

.new-profile {
  text-align: center;
  padding-bottom: 40px;
}
